@model CourseRegistration.Models.Student
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


<h1 style="margin: 50px 0px 20px 0px; text-shadow: 2px 2px 10px lightblue">@localizer["Course"]: @localizer["Course name"]</h1>
<h4 style="margin: 20px 0px">@localizer["6 months of theory"]</h4>
<h4 style="margin: 20px 0px 40px 0px">@localizer["Course content"]: C#, C# OOP, HTML, CSS, Bootstrap, Javascript, JQuery, Unit Testing, SQL, MVC, .NET6 (Core), Web-API, Github, Azure m.m.</h4>

<hr />

    <div>
    <h1 style="margin: 50px 0px 50px 0px; text-shadow: 2px 2px 10px lightblue">@localizer["InterestedRegisterYourInterestBelow"]</h1>
    </div>

    

<form asp-action="Create" autocomplete="off" new { ReturnUrl=ViewBag.ReturnUrl }>
    <div class="row p-5" style="box-shadow: 2px 2px 10px lightblue">
        @*row 1*@
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                @*<label asp-for="FirstName" class="control-label"></label> **@
                @localizer["FirstName"] *
               <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                @*<label asp-for="LastName" class="control-label"></label> **@
                @localizer["LastName"] *
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                @*<label asp-for="City" class="control-label"></label>*@
                @localizer["City"]
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <div class="form-group mb-3">
                @*<label asp-for="Phone" class="control-label"></label>*@
                @localizer["Phone"]
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                @*<label asp-for="Email" class="control-label"></label> **@
                @localizer["Email"] *
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-5">
                @*<label asp-for="Note" class="control-label"></label>*@
                @localizer["Note"]
                <textarea asp-for="Note" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
        </div>
         
        @*row 2*@
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="@localizer["btn_RegisterYourInterest"]" class="btn btn-primary" />
            </div>

        </div>


    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
